.carousel-container{
    width: 1100px;
    height: 420px;
    margin: auto;
    margin-top: 150px;
    z-index: 12;
    margin-bottom: 100px;
    
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: auto;
    z-index: 12;
}
  
.carousel img {
    width: 1100px;
    height: 420px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 12;
}
  
.carousel img.active {
    opacity: 1;
}
  
.carousel img.hidden {
    opacity: 0;
}
  
  
.prev,
.next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    font-size: 50px;
    color: black;
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
}
  
.prev {
    left: 328px;
}
  
.next {
    right: 328px;
}
  