@font-face {
    font-family: 'Futura';
    src: url('../font/FuturaLT-Condensed.ttf');
}

body{
    font-family: 'Futura';
    background-color: rgb(247, 247, 247);
    overflow-x: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    z-index: 60;
    letter-spacing: 0.5;
    line-height: 1.5;
}

.liens{
    
    display: flex;
    list-style: none;
    color: black;
    align-items: center;

}


li{
    margin: 0 0 0 30px;

}

.cart-icon{
    margin: 0 30px 0 30px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}


.logo_img{
    margin-top: 7px;
    height: 46px;
}

.liens a:hover {
    color: gray; 
    transition: 0.3s;
  
}
